/* =============
    Base
============= */
ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.hidden {
    display: none;
}


#headerbox {
    display: box;
    background-color: #262E51;
    width: 100%;
}

#headertext {
    color: white;
}
