/* =============
    Navigation
============= */

#navigation {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". navigation .";

    >div {
        grid-area: navigation;
    }
}